.about_me {
	display: grid;
	grid-template-columns: 1fr 1fr;
	background-color: #f2f2f1;
	width: 100%;
	/* position: absolute;
	margin-bottom: 10px; */
	
	
}
.about_me_img {
	padding-left: 5px;

	border-radius: 15px;
	
}
.about_me_text {
	margin-top: 100px;
	padding-bottom: 100px;

	

}
.about_me_text_title {
}
.about_me_text_columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 60px;
	padding: 10px;
	text-align: left;

}
.about_me_text_columns_proffesion{
	margin-top:30px ;

}
.about_me_text_columns_img {
	
}
.about_me_text_columns_title {
}

@media(max-width:989px){
.about_me_img{
	width: 100%;
    height: 25%;
	 padding-top: 160px;
	 float: left;
	 
}
.about_me_text {
	position: relative;
	margin-left: 40px;
	

}
}