.about_me {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 100px;
}
.about_me_img {
	border-radius: 15px;
	
}
.about_me_text {
	margin-top: 100px;
	

}
.about_me_text_title {
}
.about_me_text_columns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	

}
.about_me_text_columns_proffesion{
	margin-top:30px ;

}
.about_me_text_columns_img {
	
}
.about_me_text_columns_title {
}

@media(max-width:989px){
.about_me_img{
	width: 100%;
    height: auto;
}
.about_me_text {
	margin-left: 40px;
	

}
}