.columns {
	
	display: flex;
	justify-content: flex-end;
	gap: 55px;
	max-width: 1180px;
	padding: 99px 0px 99px 0px;
	margin: 0px;
	
}
.columns_text{
	max-width: 300px;
	text-align: left;
	color: var(--title-color--);
}
.columns_text_title {
}