@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Signika+Negative&display=swap");
:root {
	--title-color: #566366;
}
html{
	
}


body{
	
	overflow-x: hidden;
	position: relative;
	min-width: 320px;
	
}
img {
	display: block;
}
h2 {
	margin: 20px 0px 20px 0px;
	color: var(--title-color);
	font-family: Roboto;
	font-size: 20px;
	font-weight: bold;
}
h3 {
	margin: 20px 0px 20px 0px;
	color: var(--title-color);
	font-family: Roboto;
	font-size: 22px;
	font-weight: bold;
	font-family: Roboto;
	line-height: 1.09;
}

#username {
}
#useremail {
}
#usermessage {
}

.wrapper {
max-width: 1600px;	
margin: 0px auto;
}
@media(max-width:989px){
	.wrapper{
		padding: 40px;
	}
}

.button {
	margin: 40px 0px 0px 0px;
	border: solid green;
	width: 130px;
	height: 40px;
	color: green;
	background-color: white;
	font-weight: bold;
	font-size: 10px;
}

.subtitle_text {
	color: var(--title-color);
	line-height: 1.67;
	font-family: Roboto;
}



.small_text {
}
.gpa {
	width: 71px;
  max-height: 29px;
  margin: 16px 0px 30px 0px;
  padding: 10px 12px 20px  ;
  background-color: #2ecc71;
  font-weight: bold;
  color: white;
  font-family: Roboto;
  font-size: 12px;
  
}

