.footer {
	margin: 0 auto;
	max-width: 929px;
	padding: 99px 0px 0px 0px;
}
.footer_contact_me_title {
}
.footer_contacts {
}
.footer_form {
}
.footer_social_networks {
}

.footer_contact_me {
}
.footer_form_text {
}
.footer_button_contact_me {
}
