.my_education {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 118px;
	margin: 0 auto;
	max-width: 929px;
	padding: 99px 0px 99px 0px;
}
.my_education_title {
}
.my_education_diploma {
}
.my_education_diploma_title {
}
.my_education_text{

}