#my_skills_button {
}
.my_skills {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0px auto;
	padding: 99px 0px 99px 0px;
gap: 136px;
	max-width: 1180px;
}
.my_skills_title {
}
.my_skills_text {
	
}
.my_skills_scales {
	
	
	
}
.my_skills_scales_title {
	margin: 30px 0px 0px 0px;
}
progress {
	width: 50%;
	max-height: 20px;
	
}
progress::before{
	content: '50%';
	margin-left: 200px;
	align-items: center;
	position: absolute;
}

