#my_skills_button {
}
.my_skills {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0px auto;
	padding: 99px 0px 99px 0px;
gap: 136px;
	max-width: 1180px;
}
.my_skills_title {
}
.my_skills_text {
	
}
.my_skills_scales {
	
	
	
}
.my_skills_scales_title {
	margin: 30px 0px 0px 0px;
}
progress {
	width: 50%;
	height: 25px;
	
}
progress::before{
	content: '50%';
	display: flex;
	align-items: center;
	position: absolute;
}
span:nth-child(1){
	color:red
}
@media(max-width:990px){
	progress::before{
		
		
		align-items: center;
		position: absolute;
	}
}

