#download_resume {
	background-color: #f2f2f1;
	width: 160pxF;
}
.resume {
	
	text-align: center;
	
	background-color: #f2f2f1;
	
	margin: 0 auto;
	width: 100%;
	padding: 99px 0px 99px 0px;
}
.resume_title {
}