@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&family=Signika+Negative&display=swap');
:root{
	--title-color: #566366;
	
}
img{
	display: block;

}
h2{
	margin: 20px 0px 20px 0px ;
	color: var(--title-color);
	font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
}
h3{
	margin: 20px 0px 20px 0px ;
	color: var(--title-color);
	font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
}

#my_skills_button {
}
#DOWNLOAD RESUME {
}
#username {
}
#useremail {
}
#usermessage {
}

.wrapper {
	max-width: 1100px;
	
	margin: 0px auto;
	padding: 0px 10px;
}

.columns {
	margin-top: 40px;
	display: flex;
	justify-content: center;
	gap: 40px;
	
}
.columns_text{
	max-width: 300px;
	text-align: left;
	color: var(--title-color--);
}

.my_skills {
}
.resume {
}
.my_education {
}
.work_experience {
}
.footer {
}


.my_skills_title {
}
.my_skills_text {
}
.button {
}
.my_skills_scales {
}
.resume_title {
}
.subtitle_text {
	color: var(--title-color);
	line-height: 1.67;
	font-family: Roboto;

}
.my_education_title {
}
.my_education_diploma {
}
.work_experience_title {
}
.work_experience_positions {
}
.footer_contact_me {
}

.columns_text_title {
}

.my_skills_scales_title {
}
.my_education_diploma_title {
}
.small_text {
}
.gpa {
}
.strip {
}
.work_experience_positions_title {
}
.work_experience_positionsa_title {
}
.footer_contact_me_title {
}
.footer_contacts {
}
.footer_form {
}
.footer_social_networks {
}


.footer_form_text {
}
.footer_button_contact_me {
}
